p{
    margin: 40px;
}
.text{
    font-family: Arial, Helvetica, sans-serif
}
}
#list{
    color: green
}
header{
    font-size: 25px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
img{
    margin-left: 100px;
}